@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    scroll-behavior:smooth;
}
.back1{
    background: linear-gradient( 108.4deg,  rgba(147,13,161,0.5) 39.2%, rgba(14,11,194,0.5) 83.6% ),url(./models/backSmartwatch0.jpg) no-repeat;
    background-size: 100vw;
    width: 99vw;
    height: 93vh;
    border-radius: 2% 2% 60% 80% / 10% 10% 60% 50%;
}
.container{
    background-color: rgb(222, 215, 215,0.25);
    width: 99vw;
    height: 100vh;
    border-radius: 10% 10% 60% 80% / 10% 10% 60% 50%;
}
section{
    padding: 0 15vw;
}
@keyframes animacao-crescer{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}
button{
    height: 6vh;
    width: 9vw;
    border-radius: 29px;
    color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px;
    border-color:#660A94 ;
    cursor: pointer;
    font-weight: bolder;
    font-size: 0.8vw;
}
button img{
    height: 27px;
    width: 32px;
    padding-left: 3%;
}
button:hover{
    animation-name: animacao-crescer;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.container2{
    width: 100%;
    height: 90vh;
}
.container3{
    width: 100%;
    height: 85vh;
    background-color: rgb(222, 215, 215,0.25);
    display: flex;
    justify-items: center;
    justify-content: space-around;
}

.container4{
    height: 100vh;
    height: 100%;
}
.footer{
    height: 20vh;
}
@keyframes animacao-diminuir{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.90);
    }
}
@media screen and (max-width:1640px){
    .container3 .containerFuncoes {
        padding-left: 0;
    }
    .container3 .funcao{
        height: 70px !important;
        width: 100px !important;
    }
    @media screen and (max-height:1000px){
        .back1{
            height: 70vh;
        }
        .container{
            height: 75vh;
        }
        
    }
}
@media screen and (max-width:1400px){
    .container2 .containerImagem{
        display: none;
    }
    .container2 .sobre .campo p{
        width: 60%!important;
    }
    .container2{
        height: 80vh;
    }
}
@media screen and (max-width:1240px){
    @media screen and (max-height:1000px){
        .back1{
            height: 50vh;
        }
        .container{
            height: 55vh;
        }
    }
}
@media screen and (max-width:1065px) {
    .back1{
        height: 35vh;
    }
    .container{
        height: 40vh;
    }
    nav button, .containerVenda button{
    height: 4vh;
    width: 6.5vw;
    font-size: 0.6vw;
    }
    nav button img, .containerVenda button img{
        width: 1.4vw;
        height: 1.2vw;
    }

    /*menu e info*/
    .container3 .backImg{
        display: none!important;
    }
    .container3{
        justify-content: center;
    }
    
    
    @media screen and (max-height:1000px){
        .back1{
            height: 53vh;
        }
        .container{
            height: 55vh;
        }
    }
}
@media screen and (max-width:750px) {
    .back1{
        height: 38vh;
    }
    .container{
        height: 40vh;
    }
    nav button, .containerVenda button{
        height: 2vh;
        width: 6vw;
        font-size: 0.6vw;
    }
    nav button img, .containerVenda button img{
        width: 1.2vw;
        height: 1.2vw;
    }
    .funcao h4{
        font-size: 200px;
    }
    .container3 .funcao h4 {
        font-size: 10px;
      }
      .formatacao .sobre .containerTexto h3{
        font-size: 3vw;
    }
    /*menu e info*/
}

@media screen and (max-width:580px) {
    .back1{
        height: 33vh;
    }
    .container{
        height: 35vh;
    }
    /*menu e info*/
    .container3 p{
        display: none;
    }
    .sociais, .bold{
        display: none;
    }
    .container3 .textoFuncoes {
        text-align: center;
        width: 100% !important; 
    }
    .funcao h4{
        font-size: 16px;
    }
}
@media screen and (max-width:500px) {
    .back1{
        height: 26vh;
    }
    .container{
        height: 30vh;
    }
    .containerInfo .compra{
        padding-top: 100px;
    }
    .foto img{
        display: none;
    }
}
.container4 {
    margin-bottom: 5vh; /* Adicione uma margem inferior para afastar a div do footer */
}


